# 1. 넘파이 간단 사용법!

In [7]:
import numpy as np
import pandas as pd

# np.arange(n)은 0~(n-1)까지의 순차적 배열 생성
array1=np.arange(10)
array1

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [5]:
# np.zeros=빈 ndarray 생성
# zeros의 default dtype은 float64
# np.zeros((행,열),dtype='원하는 자료형')
zero_array=np.zeros((4,2),dtype='int64')
print(zero_array)

[[0 0]
 [0 0]
 [0 0]
 [0 0]]

In [10]:
# +데이터 프레임 복습
df=pd.DataFrame([[20,21],[2002,2001]],index=['나이','출생년도'],columns=['A','B'])
df

         A     B
나이      20    21
출생년도  2002  2001

In [11]:
# 배열 생성

array1=np.array([1,2,3])
print('array type:',type(array1))
print('array1 형태',array1.shape)

array2=np.array([[1,2,3],[2,3,4]])
print('array2 type:',type(array2))
print('array2 형태:',array2.shape)


array3=np.array([[1,2,3]])
print('array3 type:',type(array3))
print('array3 형태',array3.shape)

array type: <class 'numpy.ndarray'>
array1 형태 (3,)
array2 type: <class 'numpy.ndarray'>
array2 형태: (2, 3)
array3 type: <class 'numpy.ndarray'>
array3 형태 (1, 3)

In [12]:
#np는 배열형태로 만들어주는 함수
data=[1,2,3,4,5]
arr=np.array(data)
arr

array([1, 2, 3, 4, 5])

In [13]:
data=[[1,2,3,4],[5,6,7,8]]
arr=np.array(data)
arr

array([[1, 2, 3, 4],
       [5, 6, 7, 8]])

In [14]:
#empty=초기화 X, 행렬 생성, ones는 초깃값 1로, zeros는 0으로 생성
np.empty((3,3))

array([[0.00000000e+000, 0.00000000e+000, 0.00000000e+000],
       [0.00000000e+000, 0.00000000e+000, 6.40309077e-321],
       [8.20437577e-304, 0.00000000e+000, 1.10343781e-312]])

In [15]:
np.ones((3,3))

array([[1., 1., 1.],
       [1., 1., 1.],
       [1., 1., 1.]])

In [16]:
np.zeros((3,3))

array([[0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.]])