In [2]:
import sklearn
import pandas as pd
print(sklearn.__version__)

0.24.1

In [3]:
# 사이킷런 내장 데이터셋 로드
from sklearn.datasets import load_iris

# 알고리즘 관련 모듈 import
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split

# iris 데이터 호출
iris=load_iris()

# 데이터 저장
iris_data=iris.data

#iris 타겟 값 저장
iris_label=iris.target
print(iris_label)

[0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 2 2 2 2 2 2 2 2 2 2 2
 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2
 2 2]

In [4]:
#iris 타겟 명
print(iris.target_names)

['setosa' 'versicolor' 'virginica']

In [7]:
#dataframe으로 변환
iris_df=pd.DataFrame(data=iris_data,columns=iris.feature_names)
iris_df['label']=iris.target
iris_df.head(3)

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),label
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0

In [11]:
X_train,X_test,y_train,y_test=train_test_split(iris_data,iris_label,test_size=0.2,random_state=11)
#결정트리 객체 생성 
DT=DecisionTreeClassifier(random_state=11)
#객체명.fit(피처/레이블 훈련)
DT.fit(X_train,y_train)
#예측 수행
pred=DT.predict(X_test)
from sklearn.metrics import accuracy_score
print('{0:.4f}'.format(accuracy_score(y_test,pred)))

0.9333